@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}


/* MAIN CONTAINER */
.container{
    position: relative;
}

/* LEFT SECTION OF PAGE */
.left-section {
    width: 25vw;
    padding: 5px;
}

.cross{
    display: hidden;
}


.home ul li {
    width: 28px;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    /* padding-top: 14px; */
    padding: 0px 0px 23px 0px;
    font-weight: bold;
    align-items: center;
    font-size: 14px;
}

.heading img{
    width: 28px;
}

.library{
    min-height: 70.7vh;
    position: relative;
    margin-top: 4px;
    /* overflow-y: scroll; */
}

/* LEFT SECTION FOOTER */
.footer{
    display: grid;
    grid-template-rows: 20px 20px;
    grid-template-columns: 62px 140px 79px 40px;
    font-size: 11px;
    font-weight:400;
    gap: 11px;
    position: absolute;
    bottom: 0;
    padding: 45px 0px;

}

.footer a{
    color: grey;

}

.footer div{
    margin : 0px 5px;

}

.right-section {
    width: 75vw;
    margin: 10px 10px 0px 0px;
    border-radius: 7px;
    height: 91vh;
}


/* RIGHT HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    /* background-color: rgb(61, 60, 60); */
}

.header > *{
    padding: 5px;
}

.buttons > *{
    margin: 0px 10px;
}
.signupbtn{
    padding: 15px;
    font-weight:700;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2c2c2c;
    color: grey;
}

.signupbtn:hover{
    font-size: 1.03rem;
    color:white;
}

.loginbtn{
    width: 107px;
    padding: 15px 0px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: black;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;

}

.spotifyPlaylist{
    padding: 10px;
}

.spotifyPlaylist h1{
    padding: 10px 0px;
}


.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
    max-height: 64vh;
    overflow-y: auto;
}


/* SONG CARD */
.card{
    position:relative;
    width: 200px;
    padding: 10px;

}

.card img{
    width: 100%;
    object-fit: contain;
}

.card h2,p{
    padding-top: 10px;
}

.play {
    position: absolute;
    right: 26px;
    top: 157px;
    background-color: #3BE477;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 1;
    transition: all 1s ease-out;
}

.play svg {
    fill: black;
}

.play:hover {
    background-color: darkgreen;
}



/* PLAYBAR */
.playbar{
    position: fixed;
    bottom: 0;
    width: 97%;
    /* width: calc(100vw - 60px); */
    padding: 30px;
    outline: none;
    border: none;
    background-color: black;

}

.aboveBar{
    display: flex;
    justify-content: space-between;
    padding: 0px 23px 0px 13px;
}

.songbuttons{
    display: flex;
    gap: 16px;
}

.songbuttons img{
    cursor: pointer;
}

.seekbar{
    position: absolute;
    top: 67px;
    height: 2px;
    width: 96.5%;
    background-color: white;
    border-radius: 10px;
    left: 40px;
    cursor: pointer;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    bottom: 7.3px;
    left: 0%;
    transition: left 1s;
}



/* LIBRARY/SONGLIST */
.songlist{
    overflow-y: scroll;
    height: 55vh;
}
.songlist ul{
    padding: 0px 0px;
    /* width: 30px; */
}

.songlist ul li{
    display: flex;
    gap: 20px;
    list-style-type: decimal;
    cursor: pointer;
    padding: 7px 7px;
    background-color: #2c2c2c;
    align-items: center;
    margin: 5px 0px;
    border-radius: 7px;
    position: relative;
}

.songlist ul li img:first-child{
    width: 50px;
    height: 50px;

}

.songlist ul li img:last-child {
    width: 30px;
    height: 30px;
    /* padding-left: 190px; */
    filter: invert(0);
    position: absolute;
    right: 9px;
    top: 17px;
}


/* HAMBURGER */
.hamburger{
    display: hidden; 
    /* cursor: pointer; */
}

.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}


/* RESPONSIVENESS */
@media (max-width: 1400px) {
    .left-section{
        background-color: black;
        position: absolute;
        left: -100%;
        transition: all 3ms;
        z-index: 1;
        width: 419px;
        height: 90vh;
    }

    .left-section .cross{
        position: absolute;
        right: 23px;
        top: 25px;
        width: 30px;
        display: block;
        cursor: pointer;
    }

    .library{
        min-height: 69.7vh;
    }

    .library .songlist{
        height: 55vh;
    }

    .footer{
        padding: 27px 0px;
    }

    .right-section {
        width: 100vw;
    }

    .playbar{
        position: absolute;
        bottom: -73px;
        /* width: 86vw; */
        width: calc(100vw - 60px);
        z-index: 1;

    }

    .seekbar{
        /* width: 85%; */
        width: calc(100vw - 60px);
        left: 33px
    }

    .aboveBar{
        padding: 0px;
    }

    .hamburger{
        display: block;
    }
    
}



